<!DOCTYPE html>
<html>
  <head>
    <title>Scsproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
      *
      {
        margin: 0px;
      }
      header,footer
      {
        height: 100px;
        background-color: black;
        color:white;
      }
       header ul li
       {
          display: inline-block;
          margin-left: 20px;
       }
       header ul li a
       {
        color:white;
        text-decoration: none;
       }
      section
      {
        height: 500px;
        background-color: gray;
        color:red;
      }
    </style>
  </head>

  <body>
    <header>
      <ul>
      <li><a href="/home/index">Home</a></li><li><a href="/home/about">About us</a></li><li>
        <a href="/home/services">Services</a>
      </li>
      </ul>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
    </footer>
  </body>
</html>
